name: Python Application CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint coverage
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Analysing code with pylint
      run: |
        pylint main.py test.py || true

    - name: Run tests and coverage
      run: |
        coverage run test.py
        coverage report
